{
  "@context": {
    "void":  "http://rdfs.org/ns/void#",
    "dcat":  "http://www.w3.org/ns/dcat#",
    "dct":   "http://purl.org/dc/terms/",
    "rdfs":  "http://www.w3.org/2000/01/rdf-schema#",
    "chess": "{{.ChessNS}}"
  },
  "@id": "{{.BaseURL}}/catalog",
  "@type": "dcat:Catalog",
  "rdfs:label": "{{.NodeName}}",

  "dct:description": "Federated knowledge fabric node.",
  "dct:conformsTo": {
    "@id": "https://w3id.org/cogitarelink/fabric#CoreProfile"
  },

  "dcat:service": {
    "@id": "{{.BaseURL}}/sparql",
    "@type": "dcat:DataService"
  },

  "dcat:catalog": [
    {{- range $i, $b := .Beamlines }}
    {{- if $i}},{{ end }}
    {
      "@id": "{{$.BaseURL}}/catalog/{{$b.ID}}",
      "@type": "dcat:Catalog",
      "rdfs:label": "{{$b.Label}}",
      "dct:description": "{{$b.Description}}",
      "chess:beamlineType": "{{$b.Type}}",
      "chess:location": "{{$b.Location}}"
      {{- if $b.Alias }},
      "chess:alias": "{{$b.Alias}}"
      {{- end }}
      {{- if $b.Partners }},
      "chess:partner": [
        {{- range $j, $p := $b.Partners }}
        {{- if $j}},{{ end }}
        "{{$p}}"
        {{- end }}
      ]
      {{- end }}
    }
    {{- end }}
  ]
}
